* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* Criação de variaveis */

:root {
    --bg-header-mobile: url(../imagens/bg-mobile-light.jpg);
    --bg-header-desktop: url(../imagens/bg-desktop-light.jpg);
    --input-box-shadow: rgba(194, 195, 214, 0.50);
    --input-color: #494C6B;
    --placehokder-color: #9495a5;
    --button-color: #393a4b;
    --buttom-color-hover: #494c6b;
    --bg-body:#FAFAFA;
    --bg-tarefas: #fff;
    --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
    --border-color: #E3E4F1;
    --text-color: #494C6B;
    --info-text-color: #9495A5;
    --info-button-hover: #494c6b;
    --info-button-active: #3a7cfd;
}

body {
    background: var(--bg-body);
}

header {
    background-image: var(--bg-header-mobile);
    height: 12.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 3em 1.75em 0;
}

header > div {
    max-width: 33.75em;
    margin-inline: auto;
}

header div div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5em;
}

header div h1 {
    color: #fff;
    text-transform: uppercase;
}

header form {
    display: flex;
    gap: .5em;
}

header form input {
    padding: 1.12em;
    border-radius: .3125em;
    border: none;
    box-shadow: 0px 35px 50px -15px var(--input-box-shadow);
    width: 100%;
    outline-style: none;
    font-size: .75em;
    color: var(--input-color);
}

header form input::placeholder {
    color: var(--placehokder-color);
}

header form button {
    padding: .75rem;
    border-radius: .3125em;
    border: none;
    background: var(--button-color);
    color: #fff;
}

main {
    padding-inline: 1.75em;
}

.tarefas {
    background: var(--bg-tarefas);
    box-shadow: var(--box-shadow);
    border-radius: .3125em;
    margin-top: -1em;
    max-width: 33.75em;
    margin-inline: auto;
}

.tarefas .tarefa {
    padding: 1em 1.25em;
}

.tarefas .tarefa + .tarefa {
    border-top: 1px solid var(--border-color) ;
}

.tarefa form {
    display: flex;
    justify-content: space-between;
    
}

.tarefa div{
    display: flex;
    align-items: center;
    gap: .75em;
    color: var(--text-color);
    font-size: .75em;
}

.tarefa button{
    border: none;
    background: none;
}

.informacoes {
    border-top: 1px solid var(--border-color);
    padding: 1em 1.25em;
    display: flex;
    justify-content: space-between;
    font-size: .75em;
    color: var(--info-text-color);
}

.informacoes a,
.botoes a {
    text-decoration: none;
    color: var(--info-text-color);
}

.informacoes .botoes {
    display: none;
}

.botoes {
    padding-block: 1em;
    background: var(--bg-tarefas);
    border-radius: .3125em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1.2em;
    font-size: .875em;
    max-width: 33.75em;
    margin-inline: auto;
}

.botoes .active {
    color: var(--info-button-active);
}

@media(min-width: 1000px) {

    header{
        background-image: var(--bg-header-desktop);
        height: 18.75rem;
        padding-top: 4.37rem;
    }

    header div div {
        margin-bottom: 3rem;
    }

    header form input{
        padding: 1.25rem 1.5rem;
        font-size: 1.125rem;
    }

    .tarefas {
        margin-top: -3rem;
    }

    .tarefas .tarefa {
        padding: 1.25rem 1.5rem;
    }

    .tarefa div {
        font-size: 1.125rem;
    }


    header form button {
        font-size: 1.125rem;
    }

    header form button:hover {
        cursor: pointer;
        background: var(--buttom-color-hover);
    }

    section.botoes {
        display: none;
    }

    .informacoes .botoes {
        display: flex;
        padding: 0;
        margin: 0;
        
    }

    .informacoes {
        font-size: .875em;
    }

    .informacoes a:hover{
        color: var(--info-button-hover);
    }

    .tarefa button {
        visibility: hidden;
    }

    .tarefa button:hover,
    .tarefa input:hover,
    .tarefa label:hover {
        cursor: pointer;
    }

    .tarefa:hover button {
        visibility: initial;
    }


}